.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.add-service form input, textarea{
    width: 50%;
    margin-bottom: 10px;
}
.text-haed{
    justify-content: center;
}